/* =================MAIN HEADER================= */
section#main-header{
    width: 100%;
    height: 238px;
    /* border: 1px solid red; */

}
img.beautifulineslogo{
    width: 120px;
    height: 120px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}
a.beautifulines{
    display: table;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
}
a:hover{
    color: black;
}
hr.hr {
    width: 83%;
    background-color: black;
    margin-bottom: 5px;
}

div.nav-header{
    display: inline-block;
}
li.nav-link, li.nav-link a{
    display: inline;
    font-weight: 100;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

div.socialmedia, div.socialmedia a , div.socialmedia:hover{
    display: inline-block;
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

ul.nav-header li {
    display: inline-block;
    font-size: 12px;
    margin-left: 19px;

}
ul.nav-header li a{
    color: black;
    text-decoration: none;
    font-weight: 100;
}
img.poshmarklogo{
    width: 14px;
    height: 18px;
}


